<div class="nav-f">
    <a
        (click)="toggle()"
        class="sidebar-toggle"
    >
        <nb-icon
            icon="menu-2-outline"
            pack="eva"
        ></nb-icon>
    </a>
    <a
        class="logo"
        routerLink="/"
    >
        eShop ACP
    </a>
    <!-- <nb-icon
        icon="users"
    ></nb-icon> -->
</div>
<span class="spacer flex-grow-1"></span>
<nb-actions size="small">
    <nb-action icon="power-off"></nb-action>
    <nb-action icon="user-lock"></nb-action>
</nb-actions>
