.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 300px;
}

.sidenav .mat-toolbar {
  background: inherit;
}


// .hidden {
//   display: block;
// }

div.side {
  margin: 25px;
}

.mat-drawer {
  background-color: unset !important;
}
.mat-drawer-container,
.mat-sidenav-content {
  z-index: unset;
}

.mat-drawer-side {
  border-right: none !important;
}

// .mat-expanded {
//   // height: 48px !important;
// }

.content {
  border-top: 1px solid #ddd !important;
}

@media (max-width: 960px) {
  div.side {
    margin: 5px;
  }
  .sidenav {
    width: 30vw;
  }
  .mat-drawer {
    background-color: white !important;
  }
}

@media (max-width: 414px) {
  .sidenav {
    width: 45vw;
  }
}