<mat-toolbar color="primary" class="mat-elevation-z6">
    <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
    >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <a routerLink="/" mat-button color="primary">eStore</a>
    <span class="spacer"></span>
    <ng-container *ngIf="appUser">
        <div
            ngbDropdown
            class="d-inline-block"
        >
            <a ngbDropdownToggle mat-button color="primary" id="profileDropdown">{{ appUser.name }}</a>
            <div
                ngbDropdownMenu
                aria-labelledby="profileDropdown"
            >
                <button mat-button color="primary" class="navItem" ngbDropdownItem routerLink="/">Profile</button>
                <button mat-button color="primary" class="navItem" *ngIf="appUser.roles.manager" ngbDropdownItem routerLink="/acp">ACP</button>
                <button mat-button color="primary" class="navItem" ngbDropdownItem (click)="onLogout()">Logout</button>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="!appUser">
        <a mat-button color="primary" routerLink="/login">Login</a>
        <a mat-button color="primary" routerLink="/signup">Signup</a>
    </ng-container>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav
        #drawer
        class="sidenav"
        [fixedInViewport]="false"
        [ngClass]="{ hidden: !(isHandset$ | async) }"
        [attr.role]="!(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false"
    >
        <div class="side m-3">
            <mat-accordion>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>This is the expansion 1 title</mat-expansion-panel-header>
                    This the expansion 1 content
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>This is the expansion 2 title</mat-expansion-panel-header>
                    This the expansion 2 content
                </mat-expansion-panel>

            </mat-accordion>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>
