<div class="row">
    <div
        class="col-sm-12 col-md-6 col-lg-4 mb-3"
        *ngFor="let product of listProducts"
    >
        <a [routerLink]="['/home', product.id]" class="product">
            <mat-card class="productCard">
                <!-- <div class="imgDiv">
                                <img mat-card-image [src]="product.imageUrl" [alt]="product.name">
                            </div> -->
                <div
                    class="imgCard"
                    [style.backgroundImage]="'url(' + product.imageUrl+ ')'"
                ></div>
                <mat-card-title>{{ product.name }}</mat-card-title>
                <mat-card-subtitle>Price: {{ product.price }}</mat-card-subtitle>
                <mat-card-content>{{ product.description }}</mat-card-content>
                <!-- <mat-card-actions>
                    <button
                        mat-raised-button
                        color="primary"
                    >
                        <nb-icon icon="cart-plus"></nb-icon>
                    </button>
                </mat-card-actions> -->
            </mat-card>
        </a>
    </div>
</div>
