<span class="created-by">
    Develop with ♥ by
    <b>
        <a
            href="https://facebook.com"
            target="_blank"
        >
            Shynn
        </a>
    </b>
    2019
</span>
<div class="socials">
    <a
        href="#"
        target="_blank"
        class="fab fa-facebook-square"
    ></a>
    <a
        href="#"
        target="_blank"
        class="ion ion-social-facebook"
    ></a>
    <a
        href="#"
        target="_blank"
        class="ion ion-social-twitter"
    ></a>
    <a
        href="#"
        target="_blank"
        class="ion ion-social-linkedin"
    ></a>
</div>
