table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.nb-tree-grid {
  text-align: center;
}

.nb-column-No- {
  width: 5% !important;
}


h2 {
  color: unset !important;
}